## Upload the Data and Read the .csv File

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('salaries_by_college_major.csv')

In [29]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,64200.0,108300.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,55200.0,85200.0,50600.0,136000.0,Business

# Data Exploration and Data Cleaning

In [30]:
df.shape

(51, 6)

In [31]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [32]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [33]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,59800.0,109600.0,31600.0,127000.0,HASS
47,Religion,52800.0,85700.0,29700.0,96400.0,HASS
48,Sociology,51900.0,80600.0,30700.0,118000.0,HASS
49,Spanish,54700.0,84300.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [34]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,77900.0,137700.0,41200.0,168000.0,HASS
46,Psychology,59800.0,109600.0,31600.0,127000.0,HASS
47,Religion,52800.0,85700.0,29700.0,96400.0,HASS
48,Sociology,51900.0,80600.0,30700.0,118000.0,HASS
49,Spanish,54700.0,84300.0,31000.0,96400.0,HASS

# Accessing Columns and Individual Cells

In [35]:
clean_df['Starting Median Salary'].max()

np.float64(87700.0)

In [36]:
clean_df['Starting Median Salary'].idxmax()

np.int64(9)

In [37]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           62700.0
Mid-Career Median Salary                        108400.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [38]:
clean_df['Starting Median Salary'][43]

np.float64(62700.0)

In [39]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [40]:
clean_df['Undergraduate Major'][43]

'Physician Assistant'

In [41]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           62700.0
Mid-Career Median Salary                        108400.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

# Highest and Lowest Earning Degrees

In [42]:
print(clean_df['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {clean_df['Mid-Career Median Salary'].idxmax()}")
clean_df['Undergraduate Major'][8]

156100.0
Index for the max mid career salary: 9

'Chemical Engineering'

In [43]:
print(clean_df['Starting Median Salary'].min())
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()]

35000.0

'Criminal Justice'

In [44]:
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

Undergraduate Major                     Music
Starting Median Salary                35900.0
Mid-Career Median Salary              55000.0
Mid-Career 10th Percentile Salary     26700.0
Mid-Career 90th Percentile Salary    134000.0
Group                                    HASS
Name: 39, dtype: object

#Majors with the Most Potential vs Lowest Risk

In [45]:
# clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
# clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,64200.0,108300.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,55200.0,85200.0,50600.0,136000.0,Business

In [46]:
low_risk = clean_df.sort_values('Spread',ascending=False)
low_risk[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

# Degrees with the Highest Potential

In [47]:
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [48]:
highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [49]:
highest_spread = clean_df.sort_values('Mid-Career Median Salary', ascending=False)
highest_spread[['Undergraduate Major', 'Mid-Career Median Salary']].head()

   Undergraduate Major  Mid-Career Median Salary
9            Chemistry                  156100.0
45   Political Science                  137700.0
18           Education                  134200.0
36           Marketing                  133400.0
23            Forestry                  122000.0

# Grouping and Pivoting Data with Pandas

In [50]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [51]:
numeric_columns = clean_df.select_dtypes(include=['number'])
mean_result = numeric_columns.groupby(clean_df['Group']).mean()
mean_result

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,55575.000000,93500.000000,43566.666667,147525.000000
HASS,95218.181818,53090.909091,89809.090909,34145.454545,129363.636364
STEM,101600.000000,58975.000000,99862.500000,56025.000000,157625.000000